{:deps
 {org.clojure/clojure
  {:mvn/version "1.10.1"}
  honeysql/honeysql
  {:mvn/version "1.0.444"}
  seancorfield/next.jdbc
  {:mvn/version "1.1.613"}
  org.xerial/sqlite-jdbc
  {:mvn/version "3.34.0"}
  }
 }
